.home{
    display: flex;

        .container{
                display: flex;
                position: absolute;
                margin-left: 40%;                
                border: 1px solid rgb(254, 253, 253);
                width: 50%;
                .card{
                    display: flex;
                    margin-right: 30px;
                   
                    .img{
                        
                        img{
                            display: flex;
                            width: 150px;
                            height: 300px;
                        }
                    }
                }
    }
}
@media(max-width:991px){
    .home{
        display: block;
        .container{
               
                display: none;
        
    }
    }
}