.products{
   
    width: 100%;
    display: flex;

    .container{
        display: flex;
        flex-wrap: wrap;
        border: 1px solid rgb(254, 251, 251);
       padding: 10px 25px;
       width: 1100px;

        .pro-box{
            
            width: 60px;
            margin-right: 40px;
            margin-bottom: 50px;
            text-align: center;
           border-radius: 20px;
           text-align: center;
           font-size: 15px;
            .img{

                img {
                        border: 1px solid #d4d0d0;
                        box-shadow: 1px 2px 1px #fff;
                        border-radius: 20px;
                        padding: 10px 10px;
                
                    }
                
                    #small {
                        width: 70px
                    }
            }
                        
        }
    }
}